<div class='home-container'>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h4 class="card-title">Deniz Peker</h4>
      <p class="card-text">+90 534 301 16 87</p>
      <p class="card-text">Git <a href='https://github.com/sunba33/side-project' target='_blank'>Link</a>
        (https://github.com/sunba33/side-project)</p>
      <p class="card-text">Netlify <a href='https://bitlo-case-deniz.netlify.app/' target='_blank'>Link</a>
        (https://bitlo-case-deniz.netlify.app/)</p>
    </div>
  </div>
</div>
