<div class='container mt-5 mb-5'>
  <div class='row'>
    <div class='col-12'>
      <div class='form-check'>
        <input id='showBalances' type='checkbox' class='form-check-input' [(ngModel)]='hideLowBalances'>
        <label class='form-check-label' for='showBalances'>Düşük Bakiyeleri Gizle</label>
      </div>

      <table *ngIf='balances' class="table table-striped table-responsive-md">
        <thead>
        <tr>
          <th scope="col">Asset Logo</th>
          <th scope="col">Asset Code</th>
          <th scope="col">Available Amount</th>
          <th scope="col">Available Amount TRY</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let balance of getBalances(); index as i">
          <td class='d-flex justify-content-center'>
            <img
              class='img-custom'
              src='https://static.bitlo.com/cryptologossvg/{{balance.assetCode.toLocaleLowerCase()}}.svg'
              alt='assetImage'>
          </td>
          <td> {{ balance.assetCode }}</td>
          <td>{{ balance.availableAmount | number : '1.2-2' }}</td>
          <td>{{ balance.availableAmountTRYValue  | number : '1.2-2' }} TL</td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
